{% extends "base.html" %}

{% block content %}

{%load static%}
<div id="teams">

  <div class="jumbotron jumbotron-fluid text-center text-white" style="background: #dc3545;">
    <div class="container">
      <h1 class="display-4">Welcome to IPL teams</h1>
      <p class="lead"><em>World's Best Cricket League.</em></p>
    </div>
  </div>
  <div class="container" id="teams">
    <div class="row d-flex justify-content-center">
      {% for team in teams %}
      <div class="col-xs-12 my-3 col-md-4 text-center">
        <div class="card shadow p-1 bg-white rounded border-0" :id="team">
          {% with 'teams/images/'|add:team.imgSrc as imagePath %}
          <img src="{% static imagePath %}" class="card-img-top" alt="" />
          {% endwith %}
          <div class="card-body">
            <h3 class="card-title">{{ team.name }}</h3>
            <p class="card-text"></p>

            <p><b>Captain :</b> {{ team.captain }}</p>
            <p><b>Vice Captain :</b> {{ team.vice_captain }}</p>
            <p><b>Home Ground :</b> {{ team.home_ground }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>































{% endblock content %}