{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div id="leaderboards">
        <p class="my-3 h1 d-flex justify-content-center">Leaderboards</p>
        <table class="table my-3 table-bordered text-center">
            <thead class="">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(player, i) in $store.state.leaderboards" :key="player.name">
                    <td>[[ player.name ]]</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm cnt" @click="update(i, '-')">
                            -
                        </button>
                        [[ player.points ]]
                        <button type="button" class="btn btn-primary btn-sm cnt" @click="update(i, '+')">
                            +
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>


    <div class="row text-center">
        <div class="col justify-content-center mt-4">
            <h3>Prediction Setting</h3>
            <p>Status : [[ $store.state.adminMatchData.isPredictionOn ]]</p>
        </div>
    </div>

    <div class="row mt-2 text-center">
        <div class="col justify-content-start">
            <form @submit.prevent>
                <div class="form-group">
                    <button type="submit" @click="turnOnPrediction()" class="btn mx-2 btn-danger">
                        Turn On
                    </button>
                    <button type="submit" @click="turnOffPrediction()" class="btn btn-danger">
                        Turn Off
                    </button>
                </div>
                <div v-if="$store.state.adminMatchData.isPredictionOn == true" class="form-group">
                    <label for="batsmanInput">Match Name</label>
                    <input type="text" v-model="$store.state.adminMatchData.matchName" class="form-control"
                        id="batsmanInput" />
                </div>
                <div v-if="$store.state.adminMatchData.isPredictionOn == true" class="form-group">
                    <label for="bowlerInput">Match Code</label>
                    <input type="text" v-model="$store.state.adminMatchData.matchCode" class="form-control"
                        id="bowlerInput" />
                </div>

                <button v-if="$store.state.adminMatchData.isPredictionOn == true" type="submit" @click="postSettings"
                    class="btn btn-danger">
                    Submit
                </button>
            </form>
        </div>
    </div>
    <div class="row text-center">
        <div class="col justify-content-center mt-4">
            <h3>Current Prediction Setting</h3>
            <p>
                Status : [[ $store.state.adminMatchData.isCurrentPrediction ]]
            </p>
        </div>
    </div>
    <div class="row mb-2 text-center">
        <div class="col justify-content-start">
            <form @submit.prevent>
                <div class="form-group">
                    <button type="submit" @click="turnOnCurrentPrediction()" class="btn mx-2 btn-danger">
                        Turn On
                    </button>
                    <button type="submit" @click="turnOffCurrentPrediction()" class="btn btn-danger">
                        Turn Off
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}